
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminPage</title>
    <style>
        .menu-items {
            font-family: system-ui;
            border: 1px solid #e1e1e1;
            padding: 10px;
            border-radius: 18px;
            background: aliceblue;
        }
        .menu-list {
        }
    </style>
</head>
<body>
    <div class="col-sm-12">

        <div class="col-sm-6">
            <div class="menu-items">
                <div class="menu-list">



                    <h2>@Html.ActionLink("Manage User Accounts", "Index", "Users")</h2>
                    <p>Allows to add users.</p>
                </div>
            </div>
            </div>
        </div>

</body>
</html>
