
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data</title>
</head>
<body>
    <div>
        

        <table>
            <tr>
                <th>DrugId</th>
                <th>DrugName</th>
            </tr>
            <tr>
                <td>111</td>
                <td>Paracetamol</td>
            </tr>
            <tr>
                <td>112</td>
                <td>Dolo 650</td>
            </tr>
            <tr>
                <td>113</td>
                <td>Sinarest</td>
            </tr>
            <tr>
                <td>114</td>
                <td>Azethromicyn</td>
            </tr>
            <tr>
                <td>115</td>
                <td>Coffdrry</td>
            </tr>
            <tr>
                <td>116</td>
                <td>Lvocetrizine</td>
            </tr>
            <tr>
                <td>117</td>
                <td>Abraxane</td>
            </tr>
            <tr>
                <td>118</td>
                <td>Shellcal</td>
            </tr>
            <tr>
                <td>119</td>
                <td>Benadryl</td>
            </tr>
            <tr>
                <td>120</td>
                <td>Pantop</td>
            </tr>
        </table>
    </div>
</body>
</html>
